$green: #4b834e;
$light-green: #47a84c;
$grey: #98999b;
$red: #a00e1f;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-sizing(){
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background: #fff;
}

@import './pages/login/login.page';
@import './menu/menu';